/* Guilherme dos Santos 06/15/2024 */
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  padding: 1rem 3rem;
  background: rgb(244, 244, 244);
  color: rgb(46, 44, 44);
}
.dark {
  background: #1f1e1e;
  color: rgb(223, 221, 221);
}
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}
li {
  padding: 0.5rem 0;
  line-height: 1.5;
  max-width: 70rem;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
ul {
  list-style: square;
  max-width: 60rem;
}
a {
  transition: color 0.3s;
}
a:hover {
  color: #7b77ca;
}
a:visited {
  color: #618185;
}
button {
  font-weight: 600;
  padding: 0.5rem 1rem;
  border: 0.15rem solid #8e41d6;
  border-radius: 0.5rem;
  background: white;
  color: #1f1e1e;
  cursor: pointer;
  transition: all 0.5s;
}
.buttonLight {
  background: #1f1e1e;
  color: rgb(223, 221, 221);
}
button:hover {
  background: #4e0f88;
  color: white;
}
@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    gap: 0;
  }
  li {
    font-size: 1rem;
  }
}
