/* Guilherme dos Santos 07/22/2024 */
* {
  box-sizing: border-box;
}
/* Wrapper to hold all the sections */
#mainWrapper {
  background-color: #2c29168e;
}
/* Diferent colors for the header */
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  background-color: #e7e1e1;
  flex-direction: row;
}
body.dark header {
  background-color: #474444;
}
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  padding: 1rem 3rem;
  background: rgb(244, 244, 244);
  color: rgb(46, 44, 44);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  transition: background-color 0.3s ease, color 0.3s ease;
}
/* Class applied to the body to change the color scheme */
.dark {
  background: #1f1e1e;
  color: rgb(223, 221, 221);
}
/* Class to apply a green background color when the user answers correctly  */
.green {
  background: #0de906;
}
/* Flex column and row classes to apply in different components */
.flexColumn {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: flex-start;
  align-items: flex-start;
}
.flexRow {
  display: flex;
  gap: 2rem;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
}
.sectionsWrapper {
  padding: 1.5rem;
  align-items: start;
}

/* Class to apply background color to specific elements like player and score.*/
.player,
.scoreWrapper {
  font-size: 1rem;
  background: #d39d08e3;
  padding: 0.3rem;
  border-radius: 0.5rem;
  font-weight: bold;
  display: flex;
  gap: 0.5rem;
  max-width: fit-content;
}
#randomString,
#rightOrWrong {
  background: #d39d08e3;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  padding: 0.2rem;
  border-radius: 0.2rem;
}

/* Links and buttons styles */
a {
  transition: color 0.3s;
}

a:hover {
  color: #7b77ca;
}

a:visited {
  color: #618185;
}
h2 {
  text-align: center;
}
select {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 0.1rem solid #f1b204;
  color: white;
  background-color: transparent;
}
option {
  background-color: #464444;
  color: white;
}

button {
  font-weight: 600;
  padding: 0.5rem 1rem;
  border: 0.1rem solid #f1b204;
  border-radius: 0.7rem;
  background: white;
  color: white;
  cursor: pointer;
  transition: all 0.5s;
  box-shadow: 2px 1px 1px #f1b204;
  background-color: transparent;
}

.buttonLight {
  background: #1f1e1e;
  color: rgb(223, 221, 221);
}

button:hover {
  background: #ebe48a;
  color: #1f1e1e;
  box-shadow: 1px 0.5px 0.5px #ebe48a;
}
input {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 0.1rem solid #f1b204;
  background: transparent;
  color: white;
}
input:focus {
  outline: none;
  border: 0.15rem solid rgb(124, 124, 124);
  color: white;
}
input[type="number"] {
  max-width: 6rem;
  color: white;
}

fieldset {
  max-width: fit-content;
  border-radius: 0.5rem;
}
#finalResult {
  font-size: 1em;
}
footer {
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

footer p {
  font-size: 1rem;
  font-weight: 600;
}
/* Hide the element */
.hidden {
  display: none;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
.listItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.4rem;
}
.deleteButton {
  padding: 2px 6px;
  background-color: transparent;
  color: white;
  border: 0.1rem solid #f1b204;
}

/* Image wrapper  */
.imgWrapper {
  position: relative;
  display: flex;
  width: fit-content;
  height: fit-content;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 1rem;
}
img {
  transform: rotate(0deg);
  position: relative;
  top: 0px;
  left: 0px;
  width: 10rem;
  height: 10rem;
  clip-path: circle(40%);
}

/* Width of the entire scrollbar */
::-webkit-scrollbar {
  width: 0.3rem;
  height: 0.3rem; /* For horizontal scrollbar */
}

/* Background of the scrollbar track */
::-webkit-scrollbar-track {
  background: #524f4f;
  border-radius: 10px; /* Rounded corners */
}

/* Scrollbar handle */
::-webkit-scrollbar-thumb {
  background: #f1b204;
  border-radius: 10px; /* Rounded corners */
}

/* Scrollbar handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* Scrollbar track */
scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}
/* Media queries */
@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    gap: 0;
  }
  li {
    font-size: 1rem;
  }
  .sectionsWrapper {
    padding: 0.5rem;
  }
  body {
    padding: 0.5rem;
  }
}
@media screen and (min-width: 1024px) {
  body {
    padding: 0.9rem;
  }
  .sectionsWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    justify-content: center;
  }
  .topWrapper {
    grid-column: span 2;
    text-align: center;
  }
  section {
    margin: 1rem 0;
    justify-self: center;
  }
  /* Targest the last section of the grid */
  section:last-of-type {
    grid-column: span 2;
  }
}
